<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Commentaires</string>
			<key>File</key>
			<string>http://www.chd.lu/wps/portal/public/FormulaireContact</string>
			<key>Title</key>
			<string>Send comment</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>ChildPane with explanations ?</string>
			<key>Key</key>
			<string>Help</string>
			<key>Title</key>
			<string>Help</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Synchronization</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>TrueValue</key>
			<string>On</string>
			<key>FalseValue</key>
			<string>Off</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Only with WiFi</string>
			<key>Key</key>
			<string>wifi</string>
			<key>DefaultValue</key>
			<false/>
			<key>TrueValue</key>
			<string>Yes</string>
			<key>FalseValue</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Frequency (by week) :</string>
			<key>Key</key>
			<string>frequence</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>slider</string>
			<key>MinimumValueImage</key>
			<string>h_507218.jpg</string>
			<key>MaximumValueImage</key>
			<string>h_507223.jpg</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>MinimumValue</key>
			<string>1</string>
			<key>MaximumValue</key>
			<string>6</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>About</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>ToSetByCode</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Copyright</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>www.chd.lu</string>
			<key>File</key>
			<string>http://www.chd.lu/wps/portal/public/!ut/p/b1/04_SjzQ0NjU0NjeyNDHQj9CPykssy0xPLMnMz0vMAfGjzOJdjFzCgjxNjAz8XYPNDIyMA4wdg4KNDAwMTIAKIoEKDHAARwNC-v088nNT9XOjciwAoqqZcw!!/dl4/d5/L2dJQSEvUUt3QS80SmtFL1o2X0QyRFZSSTQyMDBEUDEwMk4yRTFNMkQxMk8z/</string>
			<key>Title</key>
			<string>Open Legal Notice</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Contact</string>
			<key>File</key>
			<string>http://www.chd.lu/wps/portal/public/!ut/p/b1/jY3LDoIwFES_xS_o7YDQLost2gWIbTTSjenCGBIeG-P3C4kbFz5mN8mcOSywludrcJkjATuzMMZHd4v3bhpjv_SQXTT0ydkURLrhhBqGV9AcYgHaeUAfouid3xufEZImUc7Pb5S-eAjh3VZVRspjQZY23JtDAbL4z_9F8IOvd9NwZUPoy1Ko1ROkJ4E3/dl4/d5/L2dJQSEvUUt3QS80SmtFL1o2X0QyRFZSSTQyMDBEUDEwMk4yRTFNMkQxMjgy/</string>
			<key>Title</key>
			<string>Contact us</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
