<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>APPLI</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Synchronization</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>enabledSynchronization</string>
			<key>DefaultValue</key>
			<string>TrueValue</string>
			<key>TrueValue</key>
			<string>On</string>
			<key>FalseValue</key>
			<string>Off</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>wifiSynchronization</string>
			<key>Key</key>
			<string>wifiSynchronization</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Values</key>
			<array>
				<string>0</string>
			</array>
			<key>Titles</key>
			<array>
				<string>ONLYWIFI</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>sliderSynchronization</string>
			<key>Key</key>
			<string>sliderSynchronization</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>interval_synchronization</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>MaximumValue</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>Title</key>
			<string>About</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Key</key>
			<string>version_about</string>
			<key>Title</key>
			<string>Version</string>
			<key>DefaultValue</key>
			<string>My version is ${}</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>Key</key>
			<string>copyright_about</string>
			<key>File</key>
			<string>copyright</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>NoticeLegal</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
			<key>Key</key>
			<string>notice</string>
			<key>Title</key>
			<string>LegalNotice</string>
			<key>File</key>
			<string>http://www.chd.lu/wps/portal/public/!ut/p/b1/04_SjzQ0NjU0NjeyNDHQj9CPykssy0xPLMnMz0vMAfGjzOJdjFzCgjxNjAz8XYPNDIyMA4wdg4KNDAwMTIAKIoEKDHAARwNC-v088nNT9XOjciwAoqqZcw!!/dl4/d5/L2dJQSEvUUt3QS80SmtFL1o2X0QyRFZSSTQyMDBEUDEwMk4yRTFNMkQxMk8z/</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
